<html>
<head>
    {% load static %}
    <title>Text Parser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

</head>
<style>

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  padding : 5px 15px;
}

table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}

td {
    border: 1px black solid;
    padding: 5px;
}

</style>
<body style="overflow-x:hidden;">

<nav class="navbar navbar-inverse navbar-expand-sm">
  <!-- Brand/logo -->
    <a class="navbar-brand" href="{% url 'home' %}" style="position: relative;left: 80px;">Text Parser</a>
</nav>

<div class="container-fluid" style="position: relative;top: 25px;">
        <form class="form-inline" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="file" name="files" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Upload</button>
            </div>
          </form>
        <div class="row">
          <div class="col-md-6" style="overflow: scroll;">
               <span class="glyphicon glyphicon-zoom-in" onclick="zoomin()" style="font-size: 22px;"></span>
              <span class="glyphicon glyphicon-zoom-out" onclick="zoomout()" style="font-size: 22px;"></span>
              <img id="img" src="media/{{filename}}" style="width: 96%;height: 100%;">

          </div>
          <div class="col-md-6">
                <div id="exTab3">
                <ul  class="nav nav-pills">
                    <li class="active">
                <a  href="#1b" data-toggle="tab">Raw text</a>
                    </li>
                    <li><a href="#3b" data-toggle="tab">Tables</a>
                    </li>
                </ul>
                    <div class="tab-content clearfix">
                      <div class="tab-pane active" id="1b">
                          <div>{{text}}</div>
                        </div>

                        <div class="tab-pane" id="3b">
                            <div id="tbl">
                                <table class="table table-bordered table-striped" style="position: relative;top: 25px;">
                                <thead>
                                  <tr>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Adhar Card No.</th>
                                    <th>PAN Card No.</th>
                                    <th>Pin Code</th>
                                    <th>Registration No/CSC ID</th>
                                  </tr>
                                </thead>
                                <tbody>

                                <tr style="">
                                    <td>{{name}}</td>
                                    <td>{{age}}</td>
                                    <td>{{adhar_card}}</td>
                                    <td>{{pan_card}}</td>
                                    <td>{{pincode}}</td>
                                    <td>{{reg_number}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{% static 'index.js'%}"></script>

</html>